/*font-family: 'Playfair Display', serif;*/
.memoryimages p {
  font-size: 12px;
}

.memtitlecontainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: -20px;
}

.memorytitle {
  flex: 1;
  column-span: 3;
}

.jokes_and_quotes {
  flex: 1;
  column-span: 2;
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 2vw;
  margin-top: -10px;
}

.yourlanes.lanetitle h1 {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 60px;
}

.yourlanes a
{
  text-decoration: none;
  color: black;
}

.yourlanes h3 {
  margin: 3px;
  padding: 10px;
}

.yourlanes h3:hover {
  padding: 7px;
  border: rgb(49, 79, 77) 3px solid;
}


.memoryheader {
  display: flex;
}

.memoryheader .memorytitle {
  flex: 1;
}

.memoryheader .right {
  flex: 1;
  text-align: right;
  font-family: 'Allura', cursive;
}

.memoryheader .right #big {
  font-size: 2.2vw;
}


.flash {
  background-color: rgb(55, 190, 204);
  width: 100%;
  color: white;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
  text-decoration: none;
}

.close {
}

  .keybuttons {
    width: 150px;
    background-color: rgb(124, 166, 147);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .keybuttons:hover {
    background-color: rgb(49, 79, 77);
  }

  .memorydisplay input[type=submit], .showpic input[type=submit] {
    width: auto;
    background-color: rgb(124, 166, 147);
    color: white;
    padding: 2px 3px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .memorydisplay input[type=submit]:hover, .showpic input[type=submit]:hover {
    background-color: rgb(49, 79, 77);
  }

.myforms {
  background-color: rgb(224, 224, 197);
  border: rgb(124, 166, 147) solid 3px;
  margin: 20px;
  width: 40%;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
}

.myforms.newmemory {
  width: 60%;
}

.myforms input[type=text], .myforms input[type=password]  {
  width: 80%;
  padding: 12px 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}

.myforms input[type=submit] {
  width: 80%;
  background-color: rgb(124, 166, 147);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myforms input[type=button] {
  width: 80%;
  background-color: rgb(124, 166, 147);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myforms input[type=submit]:hover {
  /*background-color: #45a049;*/
  background-color: rgb(49, 79, 77);
}

.myforms textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.tbox {
  text-align: left;
}

.myforms h1 {
  font-size: 25px;
}

.showpic {
  width: 100%;
  height: 100%;
  text-align: center;
}

.showpic img {
  max-width: 90vw;
  max-height: 70vh;
  box-shadow: 3px 5px 10px #888888;
}

.memorydisplay {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.memoryelement{
  background-color: rgb(224, 224, 197);
  border: rgb(124, 166, 147) solid 3px;
  margin: 20px;
  height: 100%;
  padding: 20px;
  box-shadow: 5px 10px 18px #888888;
  /*box-shadow: 10px 10px 5px #aaaaaa;*/
}

/* These selectors make a scrollable display of pictures */


.memoryimages{
  display: flex;
  overflow-x: scroll;
}

.memoryimages div {
  margin: 0 10px;
  margin-bottom: 14px;
}

.memoryimages div img {
  height: 300px;
  box-shadow: 3px 5px 10px #888888;

}

#addapicture{
  margin-bottom: 10px;
}

.lanetitle {
  display: flex;
  color: black;
  margin: 0 auto;
  width: 98%;
  margin-right: 0px;
  margin-top: -20px;
  font-family: 'Allura', cursive;
}

.lanetitle .left {
  font-size: 3vw;
  flex: 3;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-left: 12%;

}

.lanetitle .left #big {
  margin: 0;
  margin-bottom: -1.2em;
}

.lanetitle .left #little {
  font-size: 3vw;
  margin-bottom: -0.5em;
}

.lanetitle .left #button {
  margin: 0;
  margin-bottom: 0.3em;
}

.lanetitle .right {
  flex: 1;
  margin-top: 5%;
  margin-right: 30px;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;

  display: flex;
  flex-direction: column;
}

#laneimages {
  flex: 1;
}

#laneimages img {
  border: none;
  border-radius: 5px;
  height: 6vw;
  width: 5vw;
  padding: 1px;
}

.memoryrecollections {
  width: 100%;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
}

.memoryrecollections .recollection {
  border: 2px rgb(124, 166, 147) solid;
  width: 40%;
  margin: 2%;
  padding: 2%;
  background-color: #FFFFF0;
  font-size: 14px;
  box-shadow: 5px 10px 18px #888888;
}

.memoryrecollections #recollectionby {
  font-family: 'Allura', cursive;
  font-size: 22px;
  margin-bottom: 5px;
  float: right;
}

.memoryrecollections img {
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.memoryrecollectionscontainer#inlane {
    margin-top: -25px;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: georgia, sans-serif;
  /*option A*/
  /*background-image: url("/backgroundwood.png");*/

  /*option B*/
  background-image: url("/widewood.png");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-attachment: fixed;
}

.container {
  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  grid-template-rows: 80px auto 100px;
  height: 100%;
}

.header {
  grid-column: span 12;
  background-color: rgb(124, 166, 147);
  display: flex;
  align-items: center;
}

.header #lanenav {
  width: 50%;
  margin-left: auto;
  margin-right: 10px;
  justify-content: center;
}

select {
  display: inline;
  font-size: 14px;
  font-family: georgia;
  width: 50%;
  height: 35px;
  padding: 16px 20px;
  border: rgb(49, 79, 77) solid 3px;
  border-radius: 4px;
  background-color: rgb(224, 224, 197);
  margin: 0 10px;
}

#lanenav input[type=submit], .picnav input[type=submit] {
  width: auto;
  background-color: rgb(49, 79, 77);
  color: white;
  border: none;
  border-radius: 4px;
  height: 30px;
  padding: 5px 20px ;
  cursor: pointer;
}

#lanenav input[type=submit]:hover, .picnav input[type=submit]:hover  {
  background-color: black;
}

.picnav {
  text-align: center;
  margin: 10px 0 20px 0;
}

.picnav form {
  display: inline;
}

.backtolane {
  position: absolute;
  left: 20px;
}

.profilephoto {
  margin-left: auto;
  margin-right: 20px;
}

.header #logo {
  margin: 20px;
}

.header #logo a {
  text-decoration: none;
  color: white;
}


.header h1 {
  color: white;
}

.header h1 span {
  color: #E4DC83;
  font-family: 'Allura', cursive;
  font-size: 54px;
  color: black;

}

.buttons {
  margin-right: 20px;
  color: white;
}

.buttons a {
  text-decoration: none;
  color: white;
}

.sidebar {
  grid-column: span 0;
  display: none;

}

.content {
  grid-column: span 12;
  padding: 20px;
  min-height: 500px;
}

.footer {
  grid-column: span 12;
  background-color: rgb(49, 79, 77);
  color: white;
}

.footer h6 {
  display: block;
  text-align: right;
  margin-right: 20px;
  padding-top: 20px;
}

#dropdownusers {
  text-align: left;
  justify-content: left;

}

#dropdownusers .selectingusers {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

#dropdownusers img {
  border: none;
  border-radius: 5px;
}

#dropdownusers .selectingusers input {
  margin-left: 10px;
}


.memoryindexcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.memoryindexcontainer .memoryindexbody {
  column-span: 1;
}

.memoryindexcontainer .imagesandrecollections{
  column-span: 1;
}

.memoryindexcontainer .imagesandrecollections .allimages{
  background-color: rgb(224, 224, 197);
  border: rgb(124, 166, 147) solid 3px;
  margin: 30px;
  height: 330px;
  padding: 20 10px;
  box-shadow: 5px 10px 18px #888888;


}


.allimages .flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.allimages#top {
  margin-top: -30px;
}

.allimagesheader {
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 20px;
}

.allimages#bottom {
  height: auto;
  padding-bottom: 30px;
}

.allimages img {
  object-fit: cover;
  width: 12vw;
  height: 9vw;
  margin: 5px;

}

.allimages img:hover {
  margin: 2px;
  border: rgb(49, 79, 77) solid 3px;
}

.allimages .recollection {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  display: block;
  justify-content: center;
}

.allimages .recollection .anecdote {
  display: inline-block;
  min-width: 250px;
}

.allimages .recollection:hover {
  border-color: rgb(49, 79, 77);
}

.allimages .recollection img {
  height: 60px;
  width: 50px;
}

.allimages .memoryrecollections a {
  text-decoration: none;
  color: black;
}

.allimages .recollection #recollectionby {
  text-align: right;
  font-size: 2vw;
}

.allimages .recollection #recollectionby p {
  display: block;
  font-family: georgia;
  font-size: 1vw;
  font-weight: bold;
  margin-top: -3px;
}


.allimages.recentmemories {
  padding-bottom: 20px;
  height: 160px;
}

.allimages.recentmemories#recent {
  height: 160px;
  font-size: 1.2vw;
  line-height: 20px;
}

.allimages.recentmemories ul {
  padding: 0 30px;
}


.allimages.recentmemories a {
  text-decoration: none;
  color: black;
}

.allimages.recentmemories a:hover {
  background-color: rgb(55, 190, 204);
  color: white;
}


.memoryindextitlecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.memoryindextitlequote {
  column-span: 1;
  font-size: 2.2vw;
  text-align: center;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  height: 80%;
  justify-content: center;
}

.memoryindextitle {
  column-span: 1;
  color: black;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
  font-family: 'Allura', cursive;
  text-align: center;
  justify-content: center;
}

.memoryindextitle h1 {
  display: inline;
}

.memoryindexbody .memoryheader {
  margin-bottom: -30px;
}

.memoryindexbody .big {
  font-size: 24px;
}

.memoryindexbody .memorydisplay {
  width: 100%;
}

.memoryindexbody .memoryrecollections .recollection {
  width: 90%;
}

.memoryindexbody #laneimages img {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 32px;
  padding: 1px;
}

.memoryindexbody .memorytitle p {
  font-size: 12px;
  display: inline-block;
}

.memoryindexbody .memoryimages {
  width: 100%;
  height: 230px;
  margin-bottom: -50px;
}

.memoryindexbody .memoryimages img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 5px 10px #888888;
}

.memoryindexbody .memorydisplay a {
  text-decoration: none;
  color: black;
}

.memoryindexbody .memoryelement:hover{
  border-color: rgb(49, 79, 77);
}

.memoryindexbody .recollection img {
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .memoryindexcontainer {
    grid-template-columns: 1fr;
  }

  .memoryindexcontainer .memoryindexbody {
    column-span: 1;
  }

  .memoryindexcontainer .imagesandrecollections{
    column-span: 0;
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .memoryrecollections .recollection {
    width: 90%;
    padding-top: 13px;
  }

  .lanetitle {
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .lanetitle .left #big {
    font-size: 8vw;
    margin-bottom: -1em;
  }

  .lanetitle .left #little {
    font-size: 4vw;
    margin-bottom: -0.5em;
  }

  .lanetitle .left #button {
    margin-top: 0.5em;
    margin-bottom: 0em;
  }

  #lanenav input[type=submit] {
    content: "I Changed it!";
  }

  .memoryindextitlecontainer {
    grid-template-columns: 1fr;
  }

  .memoryindextitlequote {
    display: none;
  }

  .memtitlecontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .memorytitle {
    flex: 1;
    column-span: 3;
  }

  .jokes_and_quotes {
    display: none;
  }

}
