

.memorydisplay {
  display: block;
  flex-direction: column;
}

.memoryelement{
  background-color: rgb(251, 253, 216);
  border: #bf4aa8 solid 3px;
  margin: 20px;
  height: 100%;
  padding: 20px;
}


html, body {
  margin: 0px;
  padding: 0px;
  font-family: georgia, sans-serif;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  grid-template-rows: 80px auto 100px;
  height: 100%;
}

.header {
  grid-column: span 12;
  background-color: #51d0de;
  display: flex;
  align-items: center;
}

.header #login {
  margin-left: auto;
}

.header #logo {
  margin: 20px;
}

.header h1 {
  color: #bf4aa8;

}

.buttons {
  margin-right: 20px;
  color: white;
}

.sidebar {
  grid-column: span 0;
  display: none;

}

.content {
  grid-column: span 12;
  padding: 20px;
}

.footer {
  grid-column: span 12;
  background-color: #bf4aa8;
  color: white;
}

.memoryimages{
  display: flex;
  flex-wrap: wrap;
}

.memoryimages div {
  margin-right: 30px;
}

#addapicture {
  margin-top: 80px;
}
