
<div class="myforms"
<h1>Create Your Account</h1>
<form enctype="multipart/form-data" method="POST" action="/signup">

  <p><input type="text" name="user[name]" placeholder="Full Name" required/> </p>
  <p><input type="text" name="user[email]" placeholder="Email" required/> </p>
  <p><input type="password" name="user[password]" placeholder="password" required/> </p>

  <p>Upload a profile picture:<br><br><input type="file" name="profile_pic">
  </p>

  <input type="submit" value="Sign Up"/>

</form>
</div>
