<div class="myforms">
  <h1>Delete Your Account</h1>
  <img width="80" height="95" src="/<%= @user.profile_pic_file_path %>">
  <form enctype="multipart/form-data" method="POST" action="/users/<%=@user.id%>">
    <input type="hidden" method="hidden" name="_method" value="DELETE"/>

    <p>
      Are you sure you want to delete your account?
    </p>

    <input type="submit" value="Delete Account"/>
  </form>
  <form method="GET" action="/users/<%=@user.id%>">
    <input type="submit" value="Cancel"/>
  </form>

</div>
