<div class="myforms">
  <h1>Log in to your account</h1>
  <form method="POST" action="/login">
    <p><input type="text" name="email" placeholder="Email" required/> </p>
    <p><input type="password" name="password" placeholder="password" required/> </p>

    <input type="submit" value="Login" id="submit"/>

  </form>
</div>
