<div class="myforms newmemory">
  <h1>Create a New Lane</h1>

  <br>

  <form method="POST" action="/users/<%=@user.id%>/lanes">

    <h3 style="text-align: left">Select users to invite to your lane:</h3>
    <div id="dropdownusers">
      <% @users.each do |user| %>
        <% if user != @user %>
          <div class="selectingusers">
            <img width="40" height="50" src="/<%= user.profile_pic_file_path %>">
            <input type="checkbox" name="users[]" value="<%=user.id%>">
              <%= user.name%>
            </input>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>

    <br><br>

    <input type='submit' value="Create Lane"/>
  </form>
</div>
