<h1>Create a New Memory</h1>


<form method="POST" action="/users/<%=@user.id%>/memories">

  <p>
  Title: <input type="text" name="memory[title]"/><br>
  Location: <input type="text" name="memory[location]"/><br>
  Date: <input type="text" name="memory[date]"/><br>
  </p>

  <p>Select a lane:
  <select name="memory[lane_id]">
    <% @user.lanes.each do |lane| %>
      <option value=<%=lane.id%>>with

        <% lane.users.each do |user| %>
          <%= user.name if user != @user %>
        <% end %>

      </option>
    <% end %>
  </select></p>

  <p>Add Your recollection<p>

  <p>Anecdote<br>
  <textarea type='text' rows="4" cols="50" name="recollection[anecdote]" placeholder="Got any interesting stories from this memory?"></textarea>
  </p>

  <p>Joke<br>
  <textarea type='text' rows="2" cols="50" name="recollection[joke]" placeholder="Optional: Add a memorable joke!"></textarea>
  </p>

  <p>Quote<br>
  <textarea type='text' rows="2" cols="50" name="recollection[anecdote]" placeholder="Optional: Think of a memorable quote?"></textarea>
  </p>

  <input type='submit' value="Create Memory"/>
</form>
