<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles.css" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="header">
        <h1 id="logo">Memory<span>Lane</span></h1>
        <h5 id="login" class="buttons"><a href="/login">Log in</a></h5>
        <h5 class="buttons"><a href="/logout">Logout</a></h5>
        <h5 class="buttons"><a href="/signup">Sign Up</a></h5>
      </div>

      <div class="sidebar">
        <h3>Lane</h3>
        <h3>Another Lane</h3>
        <h3>More Lanes</h3>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        <h6>Created by Adam Sarli</h6>
      </div>

    </div>

  </body>
</html>
