<body>
  <div class="container">
    <div class="header">
      <h1 id="logo">Memory<span>Lane</span></h1>
      <% if logged_in? %>
        <div id="lanenav">
          <form method="POST" action="/users/<%=current_user.id%>/lanes/jumpto">
            <select name="lane">
              <% current_user.lanes.each do |lane| %>
                <option value="<%=lane.id%>">
                <% lane.alphabetized_firstnames(current_user).each do |firstname| %>
                  <%= firstname %>
                <% end %>
                </option>
              <% end %>
              <option value="new_lane">Create New Lane</option>
            </select>
            <input type="submit" value="Go To Lane">
          </form>
        </div>
      <% end %>
